site_name: Helm Compose Documentation
docs_dir: docs
repo_url: https://github.com/seacrew/helm-compose

nav:
  - Home: "index.md"
  - "Quick Start": "quick-start.md"
  - "Key Features and Use Cases": "key-features-and-use-cases.md"
  - "Compose File Reference": "compose-file-reference.md"
  - "Storage Providers": "storage-providers.md"
  - Commands:
      - "helm compose up": "commands/up.md"
      - "helm compose down": "commands/down.md"
      - "helm compose list": "commands/list.md"
      - "helm compose get": "commands/get.md"
      - "helm compose template": "commands/template.md"

theme:
  name: material
  logo: https://user-images.githubusercontent.com/18513179/239762487-ec236277-f782-4da3-8a23-692ad017bb92.svg
  favicon: https://user-images.githubusercontent.com/18513179/212496536-76db8b48-fe7c-42a3-b851-da1f281e1ad6.svg
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - content.code.copy

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - autolinks
  - drawio_file
  - git-revision-date-localized

markdown_extensions:
  - abbr
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  copyright: Copyright &copy; 2023 Seacrew Authors
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/seacrew
  version:
    provider: mike
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
