name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true

      - uses: azure/setup-helm@v4
        with:
          version: v3.11.0

      - name: Install Helm Compose
        run: make install

      - uses: helm/kind-action@v1.12.0
      
      - name: Run Helm Compose
        run: helm compose up -f examples/simple-compose.yaml

